<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="restauracja, po, studencku, łódź, tanio, jedzenie, studenci" />
    <meta name="Description" content="U nas zjesz tanio - zapraszamy!" />
    <meta name="Author" content="Sebastian Madejski (209388)" />
    <title>Restauracja "Po Studencku"</title>
    <link rel="stylesheet" href="/staticAsset/c3R5bGUuY3Nz" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="/staticAsset/aW1nL2Zhdmljb24ucG5n" rel="icon" />
    <script src="/staticAsset/anMvanF1ZXJ5Lm1pbi5qcw==" type="text/javascript"></script>
    <script src="/staticAsset/anMvY29tbW9uLmpz" type="text/javascript"></script>
</head>
<body>
<div id="container">
    <header th:fragment="header">
        <div id="nav">
            <div class="menu-bar">
                <a href="index.html"><img class="menu-brand-img" src="/staticAsset/aW1nL2JyYW5kLnBuZw==" alt="Logo Restauracji Po Studencku" /></a>
                <ul class="no-menu">
                    <li class="menu-item"><a href="/" class="menu-active">Strona Główna</a></li><li class="menu-item"><a href="/menu">Menu</a></li><li class="menu-item"><a href="/about">O nas</a></li><li id="menu-trigger" class="menu-hidden"><a id="menu-button" href="#">&equiv;</a></li>
                </ul>
                <ul class="resp-menu">
                    <li class="menu-item resp-center up"><a href="/" class="menu-active">Strona Główna</a></li><li class="menu-item resp-center"><a href="/menu">Menu</a></li><li class="menu-item resp-center"><a href="/about">O nas</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>
</body>
</html>