<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">

</head>
<body>
<div id="container">
	<header th:replace="fragments/header :: header">

	</header>
	<div id="content">

		<div class="column" id="index-welcome">
			<h2>Zapraszamy!</h2>
			<p class="justed">
				Dlaczego warto skosztować naszych dań? Powodów jest kilka.
				Przede wszystkim staranny dobór składników oraz ścisła kontrola jakości, która pozwala nam cieszyć się dobrą opinią od wielu lat.
			</p>
			<p class="justed">
				Lata praktyki pozwoliły nam osiągnąć profesjonalizm, oferując usługi najwyższej jakości. Zawsze w swej działalności przestrzegamy najwyższych standardów.
			</p>
			<p class="justed">
				<strong>Przyjdź i przekonaj się sam!</strong>
			</p>
		</div>

		<div class="column">
			<span class="vertical-img"><img class="column-img" src="/staticAsset/aW1nL2Rpc2guanBn" alt="Danie z parówek" /></span>
		</div>

	</div>
	<footer th:replace="fragments/footer :: footer">

	</footer>
</div>
</body>
</html>