<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">

</head>
<body>
	<div id="container">
		<header th:replace="fragments/header :: header">

		</header>
		<div id="content">
			<h2>Jesteśmy tutaj:</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.3691782875885!2d19.480387515279972!3d51.762857799814476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bcb348cfb308d%3A0xee38f52e8b8d5df7!2zRG9icmEgMTIsIDkwLTAzMCDFgcOzZMW6!5e0!3m2!1sen!2spl!4v1490579047552" width="650" height="350" style="border:0" allowfullscreen></iframe>
		
		</div>
		<footer th:replace="fragments/footer :: footer">

		</footer>
	</div>
</body>
</html>